#catering-div{
    padding: 40px 0 40px 0;
    font-family: $main-font;
    background-color: rgba($dark-accent, 0.2);
    h2{
        font-family: $nav-font;
        text-decoration: underline;
        padding-bottom: 20px;
    }
}