#contact-header{
    font-family: $nav-font;
    text-decoration: underline;
    padding: 20px 0 20px 0;
}
.contact-div{
    font-family:$main-font;
    background-color: rgba($light-accent, 0.1);
    @include link;
}
.contact-info{
    padding-top: 30px;
    padding-bottom: 50px;
    a{
        color: $dark-accent;
    }
}

@include desktop-view{
    .contact-info{
        padding: 10px 80px 30px 90px;
        margin-bottom: 15px;
        hr{
            border: 0.4px solid;
        }
    }
}

@include mobile-view{
    .contact-info{
        margin-top: -50px;
    }
    #contact-header{
        margin-bottom: 20px;
    }
}