nav {
  background-color: rgba($color-primary, 0.2);
  font-family: $nav-font;
  color: rgba(0, 0, 0, 0.781);

  #logo-div {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 70px;
    text-decoration: underline;
  }

  #menu-div {
    padding-bottom: 30px;

    a {
      color: black;
      font-size: 26px;
    }
  }

  @include desktop-view {
    #menu-div a {
      -webkit-transition: font-size 1s, padding 0.5s;
      /* Safari */
      transition: font-size 1s, padding 0.5s;
    }

    #menu-div a {
      &:hover {
        color: $dark-shade;
        font-size: 38px;
        padding: 5px;
      }
    }
  }

  @include mobile-view {
    #menu-div a {
      font-size: 25px;
    }
  }
}