nav {
  background-color: rgba($color-primary, 0.2);
  color: black;

  #logo-div {
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 50px;
    text-decoration: underline;
  }

  #menu-div {
    padding-bottom: 20px;

    a {
      color: black;
      font-size: 20px;
    }
  }

  @include desktop-view{
    #menu-div a{
      &:hover {
        color: $dark-shade;
        font-size: 26px;
        padding: 5px;
      }
    }
  }

  @include mobile-view{
    #menu-div a{
      font-size: 16px;
    }
  }
}