.menu-card{
    background-color: rgba(white, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    h4{
        margin-bottom: 20px;
    }
    p{
        margin-top: 20px;
    }
    span{
        font-style: initial;
        color: rgba(0, 0, 0, 0.623);
    }
}